<head>
    <%- include("../partial/head.ejs") %>
</head>

<body>
    <%- include("../partial/navbar.ejs") %>
        <% if (message.lengh > 0) { %>
            <div class="alert alert-sucess">
                <%= message %>
            </div>
            <% } %>
                <div class="container">
                    <div class="main bg-secondary p-2 justify-content-center align-items-center d-flex" style="height: 100vh;">
                        <div class="main bg-light p-2">
                            <div class="form bg-dark text-light p-4">
                                <form action="/login" method="POST">
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                                        <input type="email" class="form-control" required name="loginemail" id="InputEmail" aria-describedby="emailHelp">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Password</label>
                                        <input type="password" class="form-control" required name="loginpassword" id="InputPassword">
                                    </div>
                                    <div class="mb-3 text-center ">
                                        <label for="exampleInputPassword1" class="form-label">Don't have an Account? <a href="/register" class="" style="text-decoration: none;">Sign Up</a></label>
                                    </div>
                                    <div class="mb-3 text-center">
                                        <button type="submit" name="Login" class="btn btn-danger px-5 form-rounded">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
</body>